main {
    padding-left: 22%;
    padding-right: 22%;
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: justify;
    line-height: 1.5;
}

main h1 {
    color: rgb(101, 12, 12);
}

main h2 {
    color: rgb(244, 164, 60);
    font-style: italic;
}

